*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/vcs.xml
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
/.idea
.idea/gradle.xml
.idea/deploymentTargetSelector.xml
.idea/deploymentTargetSelector.xml
.idea/deploymentTargetSelector.xml
.idea/misc.xml
.idea/misc.xml
.idea/deploymentTargetSelector.xml
app/schemas/com.vcco.weather.db.AppDatabase/1.json
